.restaurant-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.restaurant-card:hover {
  transform: translateY(-5px);
}

.restaurant-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

