.category-title {
  color: #333;
  position: relative;
}

.category-title::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: var(--primary-color, #ff6b6b);
  border-radius: 2px;
}
